<h1>Register form</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>submit!</button>
</form>

<li><a href="/login">LogIn</a></li>
<li><a href="/logout">LogOut</a></li>